[dir="rtl"] {
  .sylius-filters select {
    background-position: calc(0% + 10px) calc(50% + 3px) !important;
  }

  @media (min-width: 1200px) {
    [data-route="sylius_shop_product_show"] .ui.two.column.stackable.grid > .column:last-child {
      padding-left: 0 !important;
      padding-right: 40px !important;
    }
  }

  @media (min-width: 1500px) {
    [data-route="sylius_shop_product_show"] .ui.two.column.stackable.grid > .column:last-child {
      padding-left: 0 !important;
      padding-right: 60px !important;
    }
  }

  .ui.divided.grid:not([class*="vertically divided"]) > .column:not(.row), .ui.divided.grid:not([class*="vertically divided"]) > .row > .column {
    box-shadow: 1px 0 0 0 rgba(34, 36, 38, 0.15);
  }

  .ui.divided.grid:not([class*="vertically divided"]) > .column:first-child, .ui.divided.grid:not([class*="vertically divided"]) > .row > .column:first-child {
    box-shadow: none;
  }

  .ui.steps .step:after {
    right: unset;
    left: 0;
    transform: translateY(-50%) translateX(-50%) rotate(135deg);
  }

  .ui.steps .step > .icon {
    margin: 0 0 0 1rem;
  }

  [data-route=sylius_shop_homepage] .ui.huge.header::after, .ui.horizontal.section.divider.header::after {
    padding: 0 15px 0 0;
  }

  @media (min-width: 992px) {
    [data-route="sylius_shop_homepage"] .homepage-banner .homepage-banner__content {
      left: unset;
      right: 70px;
    }
  }

  @media (min-width: 1640px) {
    [data-route="sylius_shop_homepage"] .homepage-banner .homepage-banner__content {
      left: unset;
      right: 0;
    }
  }

  .ui.divided.horizontal.list > .item {
    border-left: none;
    border-right: 1px solid rgba(34, 36, 38, 0.15);
  }

  .ui.divided.horizontal.list > .item:not(:first-child) {
    padding-right: 0.5em!important;
  }

  .ui.divided.horizontal.list > .item:not(:last-child) {
    padding-left: 0.5em!important;
  }

  .address-card .buttons .ui.button, .address-card .buttons .ui.basic.button, .address-card .buttons .ui.labeled.button, .address-card .buttons .ui.labeled.icon.button, .address-card .buttons .buttons .ui.labeled.icon.button {
    padding: 6px 0 6px 10px !important;
  }

  button, a {
    .icon.arrow:not(.down):not(.up) {
      transform: rotate(180deg);
    }
  }

  .ui.radio.checkbox .box:before, .ui.radio.checkbox label:before, .ui.radio.checkbox label:after {
    left: unset;
    right: 0;
  }

  @media (min-width: 768px) {
    [data-route="sylius_shop_product_index"] .twelve.wide.column .ui.segment {
      width: 600px;
      transform: translate(122px, -70px);
    }
  }

  @media (min-width: 1150px) {
    [data-route="sylius_shop_product_index"] .twelve.wide.column .ui.segment {
      width: 900px;
      transform: translate(122px, -70px);
    }
  }

  [data-route=sylius_shop_product_index] .ui.fluid.vertical.menu .item:not(.header) {
    padding: 10px 26px 10px 0 !important;
  }

  .ui.vertical.menu .item > i.icon {
    float: left;
    margin: 0 0.5em 0 0;
  }

  .ui[class*="right floated"].header {
    float: left;
    margin-left: 0;
    margin-right: 0.5em;
  }

  .ui.table[class*="right aligned"], .ui.table [class*="right aligned"] {
    text-align: left;
  }

  .ui.items > .item .extra > [class*="right floated"] {
    margin: 0.25rem 0.5rem 0.25rem 0;
  }

  .ui.items > .item [class*="right floated"] {
    float: left;
  }

  [data-route=sylius_shop_cart_summary] .column:first-child .table th:nth-child(4), [data-route=sylius_shop_cart_save] .column:first-child .table th:nth-child(4), [data-route=sylius_shop_cart_checkout] .column:first-child .table th:nth-child(4), [data-route=sylius_shop_checkout_complete] form table th:nth-child(4), [data-route=sylius_shop_account_order_show] table th:nth-child(4) {
    text-align: left !important;
  }

  .ui.labeled.icon.buttons > .button > .icon, .ui.labeled.icon.button > .icon {
    left: unset;
    right: 0;
  }

  .ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
    margin-right: auto!important;
    margin-left: unset!important;
  }

  .ui.header > img + .content, .ui.header > .image + .content {
    padding-left: unset;
    padding-right: 0.75rem;
  }

  .ui.labeled.icon.button, .buttons .ui.labeled.icon.button {
    padding-left: 24px!important;
    padding-right: 62px !important;
  }
}
